<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Productos con Descuentos</title>
</head>
<body>
<div class="container mx-auto mt-10">
    <h1 class="text-3xl font-bold text-center mb-8">Productos con Descuentos Aplicados</h1>
    <table class="table-auto w-full">
        <thead>
        <tr>
            <th class="px-4 py-2">Producto</th>
            <th class="px-4 py-2">Precio Original</th>
            <th class="px-4 py-2">Precio con Descuento</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="productoItem : ${productoItems}">
            <td class="border px-4 py-2" th:text="${productoItem.nombre}"></td>
            <td class="border px-4 py-2" th:text="${productoItem.precio}"></td>
            <td class="border px-4 py-2" th:text="${productoItem.precioConDescuento}"></td>
        </tr>
        </tbody>
    </table>
    <div class="flex items-center justify-between mt-4">
        <a href="/admin/descuentos" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Volver</a>
    </div>
</div>
</body>
</html>