<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Productos con Descuentos</title>
</head>
<body>
<h1>Productos con Descuentos</h1>

<h2>Productos</h2>
<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio Original</th>
        <th>Precio con Descuento</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="producto : ${productosConDescuento}">
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.descripcion}"></td>
        <td th:text="${producto.precio}"></td>
        <td th:if="${producto.precioConDescuento != null}" th:text="'$' + ${producto.precioConDescuento}">Precio con Descuento</td>
        <td th:unless="${producto.precioConDescuento != null}">-</td>
    </tr>
    </tbody>
</table>

<h2>Paquetes</h2>
<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio Original</th>
        <th>Precio con Descuento</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="paquete : ${paquetesConDescuento}">
        <td th:text="${paquete.nombre}"></td>
        <td th:text="${paquete.descripcion}"></td>
        <td th:text="${paquete.precio}"></td>
        <td th:text="${paquete.calcularPrecioConDescuento()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>