<script src="https://cdn.tailwindcss.com"></script>
<div class="bg-gray-50 p-3 sm:p-5">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <!-- Start coding here -->
        <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                <div class="w-full md:w-1/2">
                    <form class="flex items-center">
                        <label for="simple-search" class="sr-only">Buscar</label>
                        <div class="relative w-full">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 " placeholder="Buscar" required="">
                        </div>
                    </form>
                </div>
                </div>
            <div class="overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-green-800/50">
                    <tr>
                        <th class="px-4 py-2">Producto</th>
                        <th class="px-4 py-2">Descripcion</th>
                        <th class="px-4 py-2">Categoría</th>
                        <th class="px-4 py-2">Cantidad</th>
                        <th class="px-4 py-2">Precio</th>
                        <th class="px-4 py-2">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="border-b" th:each="producto : ${productos}">
                        <td th:text="${producto.nombre}">Nombre</td>
                        <td th:text="${producto.descripcion}">Descripcion</td>
                        <td th:text="${producto.categoria.nombre}">Categoria</td>
                        <td th:text="${producto.stock}">Cantidad</td>
                        <td th:text="${'$' + producto.precio}">Precio</td>

                        <td class="px-4 py-3 relative">
                            <button class="dropdown-button inline-flex items-center p-1 text-sm font-medium text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none" type="button">
                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                </svg>
                            </button>
                            <div class="dropdown-menu hidden absolute right-0 z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow">
                                <ul class="py-1 text-sm text-gray-700">
                                    <li><a href="#" class="block py-2 px-4 hover:bg-green-200">Mostrar</a></li>
                                    <li>
                                        <form th:action="@{'/admin/producto/' + ${producto.id} + '/editar'}" th:method="get">
                                            <button class="block py-2 px-4 hover:bg-yellow-200">Editar</button>
                                        </form>
                                    </li>
                                </ul>
                                <div class="py-1">
                                    <form th:action="@{/admin/producto/{id}(id=${producto.id})}">

                                    </form>
                                    <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-red-200 delete-button">Eliminar</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- Modal -->
                <div id="modal" class="hidden fixed inset-0 z-50 flex justify-center items-center bg-gray-800 bg-opacity-50">
                    <div class="bg-white rounded-lg shadow-lg p-6 w-96">
                        <h2 class="mb-4 text-xl font-bold text-gray-900">Editar Producto</h2>
                        <form action="#" method="POST">
                            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                                <div class="sm:col-span-2">
                                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
                                    <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2" placeholder="Galletas de Arroz" required="">
                                </div>
                                <div class="w-full">
                                    <label for="brand" class="block mb-2 text-sm font-medium text-gray-900">Marca</label>
                                    <input type="text" name="brand" id="brand" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2" placeholder="Marca del producto" required="">
                                </div>
                                <div class="w-full">
                                    <label for="price" class="block mb-2 text-sm font-medium text-gray-900">Precio</label>
                                    <input type="number" name="price" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2" placeholder="$666" required="" min="0" step="0.01">
                                </div>
                                <div>
                                    <label for="category" class="block mb-2 text-sm font-medium text-gray-900">Categoria</label>
                                    <select id="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2">
                                        <option selected="">Selecciona una categoria</option>
                                        <option value="TV">Bebidas</option>
                                        <option value="PC">Alimentos frescos</option>
                                        <option value="GA">Conservas</option>
                                        <option value="PH">Hierbas</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="item-quantity" class="block mb-2 text-sm font-medium text-gray-900">Cantidad</label>
                                    <input type="number" name="item-quantity" id="item-quantity" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2" placeholder="0" required="" min="0" step="1">
                                </div>
                                <div class="sm:col-span-2">
                                    <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Descripcion</label>
                                    <textarea id="description" rows="8" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500" placeholder="Descripcion del Producto"></textarea>
                                </div>

                                <!-- Campo para subir hasta 10 fotos -->
                                <div class="sm:col-span-2">
                                    <label for="photos" class="block mb-2 text-sm font-medium text-gray-900">Subir una imagen</label>
                                    <input type="file" name="photos" id="photos" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2" accept=".jpg, .jpeg, .png">
                                    <div class="text-sm text-gray-500 dark:text-gray-300 mt-2">Solo se permiten imágenes en formatos JPG, JPEG, PNG.</div>
                                </div>
                            </div>
                            <div class="flex justify-end space-x-4">
                                <button type="button" id="cancel-button" class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded-lg">Cancelar</button>
                                <button type="submit" class="bg-green-600 hover:bg-green-800 text-white px-4 py-2 rounded-lg">Aceptar</button>
                            </div>
                        </form>
                    </div>
                </div>


                <!-- Modal de confirmación de eliminación -->
                <div id="deleteModal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center z-50">
                    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-sm">
                        <h3 class="text-lg font-semibold text-gray-800 mb-4">¿Eliminar producto?</h3>
                        <p class="text-sm text-gray-600 mb-6">¿Estás seguro de que deseas eliminar este producto? Esta acción no se puede deshacer.</p>
                        <div class="flex justify-end space-x-2">
                            <button id="cancelDelete" class="py-1 px-3 bg-gray-300 text-gray-800 rounded text-xs hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500">
                                Cancelar
                            </button>
                            <button id="confirmDelete" class="py-1 px-3 bg-red-600 text-white rounded text-xs hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500">
                                Eliminar
                            </button>
                        </div>
                    </div>
                </div>




                <nav class="flex justify-center items-center p-4" aria-label="Table navigation">
                <ul class="inline-flex items-stretch -space-x-px">
                    <!-- Botón Anterior -->
                    <li>
                        <a href="#" class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
                            <span class="sr-only">Anterior</span>
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>

                    <!-- Generar las páginas dinámicamente -->
                    <li th:each="page : ${#numbers.sequence(1, totalPages)}">
                        <a
                                th:classappend="${page == currentPage} ? 'text-primary-600 bg-primary-50 border border-primary-300' : 'text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700'"
                                th:text="${page}"
                                href="#"
                                class="flex items-center justify-center text-sm py-2 px-3 leading-tight">
                        </a>
                    </li>

                    <!-- Botón Siguiente -->
                    <li>
                        <a href="#" class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
                            <span class="sr-only">Siguiente</span>
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>


        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Seleccionar todos los botones y menús desplegables
        const dropdownButtons = document.querySelectorAll('.dropdown-button');
        const dropdownMenus = document.querySelectorAll('.dropdown-menu');

        let activeMenu = null; // Variable para rastrear el menú actualmente abierto

        dropdownButtons.forEach((button, index) => {
            const menu = dropdownMenus[index];

            button.addEventListener('click', (event) => {
                event.stopPropagation(); // Evitar que el clic se propague

                // Cerrar el menú actualmente abierto, si existe y no es el actual
                if (activeMenu && activeMenu !== menu) {
                    activeMenu.classList.add('hidden');
                }

                // Alternar el menú actual
                const isMenuHidden = menu.classList.contains('hidden');
                menu.classList.toggle('hidden', !isMenuHidden);

                // Actualizar el menú activo
                activeMenu = isMenuHidden ? menu : null;
            });
        });

        // Cerrar todos los menús si se hace clic fuera
        document.addEventListener('click', () => {
            dropdownMenus.forEach((menu) => {
                menu.classList.add('hidden');
            });
            activeMenu = null; // Reiniciar el menú activo
        });
    });
</script>

<script>
    // Obtener los elementos necesarios
    const modal = document.getElementById('modal');
    const cancelButton = document.getElementById('cancel-button');

    // Función para abrir el modal
    function openModal(row) {
        modal.classList.remove('hidden'); // Mostrar el modal
        // Actualizamos los valores del formulario con los datos de la fila seleccionada
        document.getElementById('name').value = row.cells[0].textContent;
        document.getElementById('brand').value = row.cells[2].textContent;
        document.getElementById('price').value = row.cells[4].textContent.replace('$', '');
        document.getElementById('item-quantity').value = row.cells[3].textContent;
        // Otros campos pueden ser actualizados de forma similar
    }

    // Abrir el modal cuando se presiona la opción de editar
    document.querySelectorAll('.edit-button').forEach(button => {
        button.addEventListener('click', (event) => {
            // Encuentra la fila correspondiente al botón de editar
            const row = event.target.closest('tr');
            openModal(row);
        });
    });

    // Cerrar el modal al presionar el botón de cancelar
    cancelButton.addEventListener('click', () => {
        modal.classList.add('hidden');
    });

    // Cerrar el modal si se hace clic fuera de él
    window.addEventListener('click', (event) => {
        if (event.target === modal) {
            modal.classList.add('hidden');
        }
    });

    // Función para mostrar u ocultar el menú desplegable
    function toggleDropdown(event) {
        const menu = event.target.nextElementSibling;
        menu.classList.toggle('hidden'); // Alterna la visibilidad del menú desplegable
    }

    // Añadir evento para el botón de 3 puntos (desplegable)
    document.querySelectorAll('.dropdown-button').forEach(button => {
        button.addEventListener('click', toggleDropdown);
    });

    // Cerrar el menú cuando se haga clic fuera del menú desplegable
    window.addEventListener('click', (event) => {
        if (!event.target.closest('.dropdown-button') && !event.target.closest('.dropdown-menu')) {
            document.querySelectorAll('.dropdown-menu').forEach(menu => {
                menu.classList.add('hidden');
            });
        }
    });

</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
       // Obtén los botones de eliminar
       const deleteButtons = document.querySelectorAll('.delete-button');
       const deleteModal = document.getElementById('deleteModal');
       const confirmDeleteButton = document.getElementById('confirmDelete');
       const cancelDeleteButton = document.getElementById('cancelDelete');

       let rowToDelete; // Variable para guardar la fila a eliminar

       // Mostrar el modal de eliminación cuando se hace clic en un botón de eliminar
       deleteButtons.forEach(button => {
           button.addEventListener('click', function(event) {
               rowToDelete = event.target.closest('tr'); // Encuentra la fila de la que se eliminará el producto
               deleteModal.classList.remove('hidden'); // Muestra el modal
           });
       });

       // Cerrar el modal al hacer clic en "Cancelar"
       cancelDeleteButton.addEventListener('click', function() {
           deleteModal.classList.add('hidden'); // Ocultar el modal
       });

       // Eliminar el producto cuando se confirme
       confirmDeleteButton.addEventListener('click', function() {
           if (rowToDelete) {
               rowToDelete.remove(); // Elimina la fila de la tabla
           }
           deleteModal.classList.add('hidden'); // Ocultar el modal
       });
   });


</script>



