<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Carrito de Compras</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="container mx-auto p-4">

    <h1 class="text-2xl font-bold mb-4">Carrito de Compras</h1>
    <div th:if="${detalles.isEmpty()}">
        <p>No hay productos en el carrito.</p>
    </div>
    <div th:unless="${detalles.isEmpty()}">
        <table class="min-w-full bg-white">
            <thead>
            <tr>
                <th class="py-2 text-center">Producto</th>
                <th class="py-2 text-center">Cantidad</th>
                <th class="py-2 text-center">Precio</th>
                <th class="py-2 text-center">Precio con descuento</th>
                <th class="py-2 text-center">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="detalle : ${detalles}">
                <td class="py-2 text-center" th:text="${detalle.getProducto().nombre}">Nombre del producto</td>
                <td class="py-2 text-center">
                    <div class="flex items-center justify-center">
                        <input type="number"
                               inputmode="number"
                               name="quantity-input"
                               class="bg-gray-50 border-x-0 border-gray-300 h-8 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-12 mx-2"0
                               th:value="${detalle.getProducto().cantidad}" />
                    </div>
                </td>
                <td class="py-2 text-center" th:text="${'$ ' + detalle.precio}">Precio</td>
                <td class="py-2 text-center"
                    th:text="${detalle.getProducto().precioConDescuento != null ? '$ ' + (detalle.getProducto().precioConDescuento) : '$ ' + detalle.getProducto().precio}">Precio con descuento</td>

                <td class="py-2 text-center"
                    th:text="${detalle.getProducto().precioConDescuento != null ? '$ ' + (detalle.getProducto().precioConDescuento * detalle.getProducto().cantidad) : '$ ' + (detalle.getProducto().precio * detalle.getProducto().cantidad)}">
                    Total
                </td>
                <td>
                    <form th:action="@{'/cart/eliminarDelCarrito'}" th:method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este producto?');">
                        <input type="hidden" name="id" th:value="${detalle.getId()}" />
                        <button type="submit" class="block py-2 px-4 text-sm hover:bg-red-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-red-300">
                            Eliminar
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Botón para abrir el modal -->
<div class="flex justify-center mt-10">
    <button id="openModal" class="px-4 py-2 text-white bg-green-500 rounded hover:bg-blue-700">
        Comprar
    </button>
</div>

<!-- Incluir el fragmento del modal -->
<div th:insert="~{fragments/comprar :: comprar}"></div>

<script>
    // Obtener elementos del DOM
    const openModal = document.getElementById('openModal');
    const modal = document.getElementById('modal');

    // Abrir el modal
    openModal.addEventListener('click', () => {
        modal.classList.remove('hidden');
    });

    // Cerrar el modal
    const closeModalFunc = () => {
        modal.classList.add('hidden');
    };

    document.getElementById('closeModal').addEventListener('click', closeModalFunc);
    document.getElementById('closeModalFooter').addEventListener('click', closeModalFunc);
</script>

</body>
</html>