<!-- src/main/resources/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoMarket</title>

</head>
<body>
    <!-- Incluir el fragmento header -->
    <div th:insert="~{fragments/header :: header}"></div>

    <h1>Bienvenido a EcoMarket</h1>
    <div th:insert="~{fragments/carousel :: carousel}"></div>


<!--    <div th:replace="~{__${contenido}__}"></div>-->


    <!-- Incluir el fragmento footer -->
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
