<!-- src/main/resources/templates/fragments/header.html -->
<header th:fragment="headerAdmin">

  <nav class="bg-gray-100 border-blue-500 px-4 lg:px-6 py-1.5">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
      <a href="/admin" class="flex items-center" id="logo" onclick="toggleSidebar()">
        <img src="/images/logoHeader.png" class="mr-3 h-10 sm:h-14" alt="EcoMarket Logo" />
        <span class="self-center text-xl font-semibold whitespace-nowrap">EcoMarket</span>
      </a>
      <div class="flex items-center lg:order-2">
        <a href="/home" class="text-gray-700 hover:bg-yellow-700 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-1.5 mr-2 focus:outline-none">Ir a Cliente</a>
        <a href="/logout" class="text-gray-700 hover:bg-yellow-700 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-1.5 mr-2 focus:outline-none">Salir</a>

      </div>
    </div>
  </nav>
</header>


